{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<!-- https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website//-->
	<title>IT394</title>
</head>
<body>

	<div class = 'navbar navbar-inverse navbar-fixed-top'>
		<a href="/" class="navbar-brand">IT394</a>
		<div class='container'>
			<!-- 
			<a href="/" class="navbar-brand">
				<img src="{% static 'images/cloud.png' %}" alt="Cloud Pic">
			</a>
			//-->
			<ul style='width: 100%' class = 'nav navbar-nav navbar-center'>
				<li><a class='active' href="/">Lessons</a></li>
				<li><a href="about">About</a></li>
				<li><a href="resources">Resources</a></li>
			</ul>
			
		</div>
	</div>

	<main class="container" role="main">
	<h4>Pre-requisites: IT300/CS301, CS393</h4>


		<div class="clear">&nbsp;</div>
	</div>

	<div id="main">
<h2>Course Overview</h2>
<p>
The purpose of this course is to introduce cadets to the concepts underlying distributed systems. Building on the foundations of algorithm implementation, data representation, web development, and basic networking, this course focuses on the principles of constructing a distributed application.  Cadets study the principles, construction, and interaction of user interface, network, web server, and database components to produce an effective distributed application.  Cadets will learn new tools and skills working as a team to analyze, design, and implement a system that solves a given problem.


 Prereqs: IT300/CS301 and CS393. </p>

	  <h2>Course Materials</h2>
<p>Please bring your textbook, CAC card, a notebook, and pen/pencil to every class. If you forget your CAC card, we will send you back to the barracks to get it!</p>
	  <h3>Required Text</h3>
<p><i>Cloud Computing: Theory and Practice</i> by Dan C. Marinescu. The book is available at <a href="http://techbus.safaribooksonline.com/book/operating-systems-and-server-administration/virtualization/9780124046276" target=blank>safari online</a>.

</p>

<p>Please see the <a href="resources.html">Resources Page</a> for additional sources of information. There are links to required reading associated with most lessons.</p>


	  <h2>Graded Events</h2>
<p>A summary of the graded events for the course is shown in the table below.
<table style="width:30%">
<tr><th>Graded Event</th><th>Points</th></tr>
<tr><td>Homework (combined)</td><td>200</td></tr>
<tr><td>Project (combined)</td><td>500</tr>
<tr><td>Presentations (combined)</td><td>100</tr>
<tr><td>WPR</td><td>150</tr>
<tr><td>Instructor Grade</td><td>50</tr>
<tr><td>Total</td><td>1000</td></tr></table></p>

	  <h3>Projects</h3>
<p>There is a five part project worth half the course points. Please ensure you understand each portion and do the requisite work to succeed. </p>
 
 
<h2>Getting Help</h2>
<p>Please use the <a href="https://piazza.com/usma/semester12017/it460/home">Piazza system</a> to request AI and ask general questions related to the material. Students who ask good questions (and give answers) will be eligible to earn bonus points. Remember, if you have a question about something, most likely other people will too! <b>Please do not post assignment-related code publicly on Piazza</b>. If your code is broken or you want help debugging, please sent a <b>private message</b> to your instructor and/or schedule AI. </p>  

<h3>Documentation of Assistance</h3>
<p>While you are not permitted to share code for your projects, you are encouraged to discuss strategies for solving problems, and reviewing material. That said, every assignment you hand in must be solely you or your teams work, and must include appropriate documentation. <b>Again, you are not allowed to share code, unless explicitly stated! Electronic copying is also strictly forbidden!</b> Please refer to the Documentation of Academic Work, The Little Brown Book, and the <a href="assistance.html">IT394 Assistance and Collaboration Policy</a> for exact methods for documentation. There are no exceptions to this policy. <b>Any assignment received that lacks documentation will receive a zero.</b> You are all under the West Point Honor Code: act honorably!</p>

 <h3>What types of assistance is encouraged?</h3>
 The following types of assistance is not only okay, but actively encouraged in IT460. Learning does not occur in a vacuum. Asking (and answering) questions is one of the best ways to learn. You should use Piazza as a general forum for asking and answering questions. Remember that students who ask good questions (and give good answers) are eligible for bonus points at the end of the semester. </p>

<h6>1. Clarifying ambiguities or vague points in class handouts.</h6>
<h6>2. Using code from the class web pages</h6>
<h6>3. Helping others with general questions about tools or software.</h6>
<h6>4. Helping others with high-level design or debugging issues.</h6>

	</main>
	<script src={% static 'assets/js/jquery.min.js' %}></script>
	<script src={% static 'assets/js/skel.min.js' %}></script>
	<script src={% static 'assets/js/util.js' %}></script>
	<script src={% static 'assets/js/main.js' %}></script>
</body>
</html>
