{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<!-- https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website//-->
	<title>IT394</title>
</head>
<body>

	<div class = 'navbar navbar-inverse navbar-fixed-top'>
		<a href="/" class="navbar-brand">IT394</a>
		<div class='container'>
			<!-- 
			<a href="/" class="navbar-brand">
				<img src="{% static 'images/cloud.png' %}" alt="Cloud Pic">
			</a>
			//-->
			<ul style='width: 100%' class = 'nav navbar-nav navbar-center'>
				<li><a class='active' href="/">Lessons</a></li>
				<li><a href="about">About</a></li>
				<li><a href="resources">Resources</a></li>
			</ul>
			
		</div>
	</div>

	<main class="container" role="main">
	<h1>IT394 Resources Page</h1>
	<h2>Listed Below are a number of useful links that will assist you in IT394</h2>
	<h1>Reference Sheets</h1>
	<ul style='width: 25%'>
				<li><a href="http://www-internal.eecs.usma.edu/courses/it394/resources/github-git-cheat-sheet.pdf">Github Reference Sheet</a></li>
				<li><a href="http://www-internal.eecs.usma.edu/courses/it394/resources/LinuxRef.pdf">Linux Reference Sheet</a></li>
				<li><a href="http://www-internal.eecs.usma.edu/courses/it394/resources/vi.pdf">Vi Reference Sheet</a></li>
				<li><a href="http://www-internal.eecs.usma.edu/courses/it394/resources/emacs.pdf">Emacs Reference Sheet</a></li>
			</ul>
	<h1>Links to Key Texts</h1>
	<ul style='width: 25%'>
				<li><a href="http://techbus.safaribooksonline.com/book/operating-systems-and-server-administration/virtualization/9780124046276">Cloud Computing (Textbook)</a></li>
				<li><a href="http://techbus.safaribooksonline.com/book/software-engineering-and-development/patterns/0321127420">Patterns of Enterprise Application Architecture</a></li>
				<li><a href="http://techbus.safaribooksonline.com/book/software-engineering-and-development/uml/0131489062">Applying UML and Patterns: An Intro to Object-Oriented Analysis and Design and Iterative Development, Third Edition</a></li>
			</ul>
	<h1>Resources for Learning Python/Django and Git</h1>
	<ul style='width: 25%'>
				<li><a href="http://techbus.safaribooksonline.com/book/web-development/django/9781784391911">Django By Example</a></li>
				<li><a href="http://techbus.safaribooksonline.com/book/databases/content-management-systems/9781449327507">Git Pocket Guide</a></li>
			</ul>
	</main>
	<script src={% static 'assets/js/jquery.min.js' %}></script>
	<script src={% static 'assets/js/skel.min.js' %}></script>
	<script src={% static 'assets/js/util.js' %}></script>
	<script src={% static 'assets/js/main.js' %}></script>
</body>
</html>
